html, body {
    height: 100%;
}

body {
    background-color: #f4f7f2;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.card {
    border-radius: 0.75rem;
}

.navbar-brand {
    font-weight: 600;
}

.btn-success, .bg-success {
    background-color: #2b7a3d !important;
}

.btn-outline-success {
    color: #2b7a3d;
    border-color: #2b7a3d;
}

.btn-outline-success:hover {
    background-color: #2b7a3d;
    color: #fff;
}
